# type;filename
DIRT;dirt.png
DIRT_PATH_1;dirtpath_1.png
DIRT_PATH_2;dirtpath_2.png
DIRT_PATH_3;dirtpath_3.png
DIRT_PATH_4;dirtpath_4.png
DIRT_NE_GRASS;dirt-NE-grass.png
DIRT_NW_GRASS;dirt-NW-grass.png
DIRT_SE_GRASS;dirt-SE-grass.png
DIRT_SW_GRASS;dirt-SW-grass.png
GRASS_N_S_DIRT;grass-N-S-dirt.png
GRASS_S_N_DIRT;grass-S-N-dirt.png
GRASS_E_W_DIRT;grass-E-W-dirt.png
GRASS_W_E_DIRT;grass-W-E-dirt.png
GRASS_NE_DIRT;grass-NE-dirt.png
GRASS_NW_DIRT;grass-NW-dirt.png
GRASS_SE_DIRT;grass-SE-dirt.png
GRASS_SW_DIRT;grass-SW-dirt.png
GRASS_1;grass_1.png
GRASS_2;grass_2.png
GRASS_3;grass_3.png
TINYBUSH_1;tinybush_1.png
TINYBUSH_2;tinybush_2.png
TINYBUSH_3;tinybush_3.png
TINYBUSH_4;tinybush_4.png